.features {
  display: flex;
  align-items: center;
  width: 100%;
  background-image: url(https://media0.giphy.com/media/PxcAsJ4ktyFGWkUAem/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem;
}

