.features {
  display: flex;
  align-items: center;
  width: 100%;
  background-image: url(https://media2.giphy.com/media/1oF1KAEYvmXBMo6uTS/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8rem;
}

