.features {
  display: flex;
  align-items: center;
  width: 100%;
  background-image: url(https://w.wallhaven.cc/full/6o/wallhaven-6oj2x7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem;
}

