/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

body{
font-family: 'Monda', sans-serif;

}

img[src*="#logo"] {
   width:20%;
  margin: auto;
  display: block;
   
}

img[src*="#screenshot"] {
   width:60%;
}

img[src*="#diagram"] {
   width:40%;
}


.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
